
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    transition: 0.3s;

}
body{
    font-family: "Poppins", sans-serif;
}
header{
    background-color: #264653;
}
.menu-section{
    width: 85%;
    margin: 0 auto;
}
.nav-header{
    display: flex;
    justify-content: right;
    /* padding-right: 16rem; */
    gap: 6rem;
    padding-top: 42px;
    
}
.nav-links{
    display: flex;
    gap: 2.5rem;
}
.nav-links a{
    font-weight: 500;
    /* font-size: 16px; */
    color: #FFFFFF;
    white-space: nowrap;
}
.nav-menu-btn{
    display: none;
}
.nav-btns{
    width: 91px;
    height: 44px;
    padding: 10px 24px;
    border-radius: 5px;
    background-color: rgb(231, 111, 81);
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: center; */
    /* border: 1px solid red; */
}
.btn{
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(231, 111, 81);
    cursor: pointer;
}
.honda-banner-section{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;

}
#honda-title{
    width: 480px;
    height: 25px;
    font-weight: 300;
    font-size: 14px;
    color: rgb(222, 222, 220);
}
.banner-container p{
    width: 456px;
    height: 72px;
    font-weight: 300;
    font-size: 14px;
    color: rgb(222, 222, 220);
}
.banner-container h1{
    font-weight: 600;
    font-size: 48px;
    color: rgb(255, 255, 255);
}
.banner-container button{
    width: 168px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(231, 111, 81);
}
.banner-image img{
    width: 552px;
    height: 448px;
}

.feture-bike-container{

    text-align: center;
    align-items: center;
}
.feture-bike-title h1{
    font-weight: 600;
    font-size: 48px;
    margin-top: 2.5rem;
}
.feture-bike-title p{
    font-weight: 600;
    font-size: 14px;
    color: rgb(231, 111, 81);
}
.feture-bike-image {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    gap: 9rem;
}
.feture-bike-image img{
    width: 288px;
    height: 243px;
}


.lates-news-title h1{
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    margin-top: 10rem;
}
.lates-news-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 47px;
}
.lates-news-image{
    width: 377px;
    height: 542px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 1px 0px;
    /* border: 1PX solid red; */
}
.lates-news-image img{
    width: 337px;
    height: 256px;
}
.lates-news-image h1{
    width: 337px;
    height: 42px;
    font-weight: 600;
    font-size: 28px;
    margin-top: 40px;
}
.lates-news-image p{
    width: 337px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
}
#lates-btn{
    width: 160px;
    height: 57px;
    border: none;
    border-radius: 5px;
    background-color: rgb(231, 111, 81);
    color: rgb(255, 255, 255);
}
.lates-news-image button{
    width: 160px;
    height: 57px;
    /* border: none; */
    border-radius: 5px;
    color: rgb(231, 111, 81);
    border: 1px solid rgb(231, 111, 81);
}

@media screen and (max-width:576px) {
    .nav-header ul,
    .nav-btns{
        display: none;
    }
    .nav-menu-btn{
        display: block;
        font-size: 35px;
        color: rgb(255, 255, 255);
    }
    .honda-banner-section{
        flex-direction: column;
    }
    #honda-title{
        width: 321px;
        height: 44px;
    }
    .banner-container h1{
        font-size: 35px;
    }
    .banner-container p{
        width: 321px;
        height: 120px;
    }
    .banner-container button{
        margin-bottom: 25px;
    }
    .banner-image img{
        width: 325px;
        height: 265px;
    }
    .feture-bike-image{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feture-bike-title h1, p{
        width: 322px;
        font-size: 25px;
        text-align: center;
    }
    .lates-news-card{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .lates-news-title h1{
        text-align: left;
}